<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
<property><name>tony.am.vcores</name><value>1</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.task.executor.jvm.opts</name><value>-Xmx1536m</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.am.retry-count</name><value>0</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.security.enabled</name><value>true</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.framework</name><value>tensorflow</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.docker.enabled</name><value>false</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.ps.instances</name><value>1</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.https.keystore.path</name><value>/location/to/tony.jks</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.history.host</name><value>historyhost.com</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.https.keystore.password</name><value>password</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.worker.memory</name><value>2g</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.task.max-missed-heartbeats</name><value>25</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.task.heartbeat-interval</name><value>1000</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.version-info.date</name><value>Wed Jan 02 09:38:10 EST 2019</value><final>false</final><source>programatically</source><source>tony-final.xml</source></property>
<property><name>tony.https.port</name><value>19886</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.secret.key</name><value>changeme</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.history.location</name><value>/tmp/tony-history</value><final>false</final><source>/export/apps/tony/conf/tony-site.xml</source><source>tony-final.xml</source></property>
<property><name>tony.ps.memory</name><value>2g</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.am.gpus</name><value>0</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.num-client-rm-connect-retries</name><value>3</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.name</name><value>TensorFlowApplication</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.http.port</name><value>disabled</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.version-info.url</name><value>git@github.com:linkedin/TonY.git</value><final>false</final><source>programatically</source><source>tony-final.xml</source></property>
<property><name>tony.am.memory</name><value>2g</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.https.keystore.algorithm</name><value>SunX509</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.history.maxAppends</name><value>3</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.worker.vcores</name><value>1</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.keytab.user</name><value>user1</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.worker.instances</name><value>1</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.worker.timeout</name><value>0</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.yarn.queue</name><value>default</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.history.cache.max-entries</name><value>1000</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.untracked.jobtypes</name><value>ps</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.worker.gpus</name><value>0</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.version-info.version</name><value>0.1.5</value><final>false</final><source>programatically</source><source>tony-final.xml</source></property>
<property><name>tony.ps.vcores</name><value>1</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.containers.resources</name><value>/user/testuser/.tony/a908e7f8-deb0-4760-b5cf-e03f654c2afd,/user/testuser/.tony/application_123456_0001/tony_src.zip</value><final>false</final><source>programatically</source><source>tony-final.xml</source></property>
<property><name>tony.version-info.checksum</name><value>b74586870012de7ef9ba8b6c5d4f381b</value><final>false</final><source>programatically</source><source>tony-final.xml</source></property>
<property><name>tony.keytab.location</name><value>/location/to/tony.keytab</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.history.intermediate</name><value>/tmp/tony-history/intermediate</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.https.keystore.type</name><value>JKS</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.single-node</name><value>false</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.enable-preprocess</name><value>false</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.version-info.user</name><value>testuser</value><final>false</final><source>programatically</source><source>tony-final.xml</source></property>
<property><name>tony.history.finished</name><value>/tmp/tony-history/finished</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.application.timeout</name><value>0</value><final>false</final><source>tony-default.xml</source><source>tony-final.xml</source></property>
<property><name>tony.version-info.branch</name><value>fix-tb-port</value><final>false</final><source>programatically</source><source>tony-final.xml</source></property>
</configuration>
