**/*.log
**/.keep
**/generated/
**/version-info.properties
*.avro
*.iml
*.ipr
*.iws
*.orig
*.rej
*.sdf
*.suo
*.swp
*.vcxproj.user
*.zip
*/classes
.DS_Store
.classpath
.gradle/
.idea
.project
.settings
.svn
.vscode/
/application_*
build/
dependency-reduced-pom.xml
log/
out/
target
tony-core/bin
tony-cli/bin
tony-portal/conf/*.jks
tony-portal/conf/application.conf
tony-portal/conf/prod.conf
tony-portal/logs
tony.xml
!tony-core/src/test/resources/*.zip

