**/*.log
**/.keep
**/generated/
*.avro
*.iml
*.ipr
*.iws
*.orig
*.rej
*.sdf
*.suo
*.swp
*.vcxproj.user
*.zip
*/bin
.DS_Store
.classpath
.gradle/
.idea
.project
.settings
.svn
.vscode/
build/
dependency-reduced-pom.xml
log/
out/
target
tony-final.xml
tony-history-server/conf/application.conf
tony-history-server/conf/prod.conf
tony-history-server/logs
tony.xml
