**/.keep
**/generated/
*.avro
*.iml
*.ipr
*.iws
*.orig
*.rej
*.sdf
*.suo
*.swp
*.vcxproj.user
*.zip
.DS_Store
.classpath
.gradle/
.idea
.project
.settings
.svn
build/
dependency-reduced-pom.xml
out/
target
tony-final.xml
tony.xml
