@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Table of Contents</h3>
<ul>
  <li><a href="#">Welcome</a>
  <li><a href="#">Play application overview</a>
  <li><a href="#">Implementing Hello World</a>
</ul>
<h3>Related Resources</h3>
<ul>
  <li><a href="#" target="_blank">Play documentation</a></li>
  <li><a href="#" target="_blank">Forum</a></li>
  <li><a href="#" target="_blank">Gitter Channel</a></li>
  <li><a href="#" target="_blank">Stackoverflow</a></li>
  <li><a href="#" target="_blank">Professional support</a></li>
</ul>
}