@(metricsList: Collection[JobMetadata])

<table>
  <tr>
    <th>App ID</th>
    <th>Configuration</th>
    <th>Started</th>
    <th>Completed</th>
    <th>User</th>
    <th>Status</th>
    <th>ResourceManager Link</th>
  </tr>
  @for(s <- metricsList) {
    <tr>
      <td>
        <a href=@s.getJobLink target="_blank">@s.getId</a>
      </td>
      <td>
        <a href=@s.getConfigLink target="_blank">tony-final.xml</a>
      </td>
      <td>@s.getStartedDate.format(Constants.TIME_FORMAT)</td>
      @if(s.getCompleted == -1) {
        <td>-</td>
      } else {
        <td>@s.getCompletedDate.format(Constants.TIME_FORMAT)</td>
      }
      <td>@s.getUser</td>
      <td>@s.getStatus</td>
      <td>
        <a href=@s.getRMLink target="_blank">Link</a>
      </td>
    </tr>
  }
</table>