@(metricsList: Collection[JobMetadata])

<html> <body>
    <!-- Required meta tags for Bootstrap-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



  <table id="table_id" class="display">
    <thead>
    <tr>
      <th>App ID</th>
      <th>Configuration</th>
      <th>Started</th>
      <th>Completed</th>
      <th>User</th>
      <th>Status</th>
      <th>ResourceManager Link</th>
    </tr>
  </thead>
  <tbody>
    @for(s <- metricsList) {
      <tr>
        <td>
          <a href=@s.getJobLink target="_blank">@s.getId</a>
        </td>
        <td>
          <a href=@s.getConfigLink target="_blank">tony-final.xml</a>
        </td>
        <td>@s.getStartedDate.format(Constants.TIME_FORMAT)</td>
        @if(s.getCompleted == -1) {
          <td>-</td>
        } else {
          <td>@s.getCompletedDate.format(Constants.TIME_FORMAT)</td>
        }
        <td>@s.getUser</td>
        <td>@s.getStatus</td>
        <td>
          <a href=@s.getRMLink target="_blank">Link</a>
        </td>
      </tr>
  }
  </tbody>
</table>
</body>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <script type="text/javascript">

      $(document).ready( function () {
        $('#table_id').DataTable();
      } );

  </script>

</html>



